<h2>
	<img src="js/turtles/airport/plane.png" alt="Airport" height="28px" />
	{{if direction == 'departures'}}
	<small>departures</small>
	{{else}}
	<small>arrivals</small>
	{{/if}}
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color"><span>${airport}</span></h3>

<table>
	<tbody>
		{{if entries.length}}
			{{each entries}}
				<tr>
					{{if $value.delay}}
					<td class="time delayed">
						${$value.time}
						<em>${$value.delay}</em>
					</td>
					{{else}}
					<td class="time">
						${$value.time}
					</td>
					{{/if}}
					<td width="100" class="label">
						<span>${$value.vehicle}</span>
					</td>
					<td class="text">
						<span>
						${$value.airport.city}&nbsp;-&nbsp;${$value.airport.country}
						</span>
					</td>
<!-- Jens, can you fit this in somewhere?					<td width="40" style="padding-right: 10px;">
					  <span class="label">
					  	${$value.airport.code}
					  </span>
					</td>-->
				</tr>
			{{/each}}
		{{else error}}
			<tr>
				<td>
					<span class="error">Unable to contact the server.</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td>
					<span class="error">No planes available.</span>
				</td>
			</tr>
		{{/if}}
	</tbody>
</table>
