<h2>
<img src="turtles/mivbstib/bus.png" height="28px" alt="MIVBSTIB"/>
	{{if direction == 'departures'}}
	<small>${i18n.departures}</small>
	{{else}}
	<small>${i18n.arrivals}</small>
	{{/if}}
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color"><span>MIVB/STIB <small>(${station})</small></span></h3>

<table>
	<tbody>
		{{if entries.length}}
			{{each entries}}
				<tr>
					{{if $value.delay}}
					<td class="time delayed">
						${$value.time}
						<em>${$value.delay}</em>
					</td>
					{{else}}
					<td class="time">
						${$value.time}
					</td>
					{{/if}}
					<td width="40" class="label">
					  <span style="background-color: #${$value.color}; color: #${$value.text_color}" >
					  	${$value.short_name}
					  </span>
					</td>
					<td class="text">
						<span>
						${$value.long_name}
						</span>
					</td>
				</tr>
			{{/each}}
		{{else error}}
			<tr>
				<td>
					<span class="error">Unable to contact the server.</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td>
					<span class="error">No buses or trams available.</span>
				</td>
			</tr>
		{{/if}}
	</tbody>
</table>
