@CHARSET "UTF-8";
.ui-block-a, .ui-block-b, .ui-block-c {
    height: 150px;
    text-align: center;
}
.ui-page{
    background: #0E4959;
}
#wrapping{
	margin: 0 auto;
	align:center;
}
#wrapper {
	width:500px;
	height:400px;
	margin: 0 auto;
	z-index:1;

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

#scroller {
	width:4000px;
	height:100%;
	padding:0;
	
}

#scroller ul {
	list-style:none;
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

#scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:300px; height:160px;
	text-align:center;
	font-family:georgia;
	font-size:18px;
	line-height:140%;
	valign:center;
}